<form [formGroup]="registerForm" (ngSubmit)="register()">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>person_add</mat-icon>
      <mat-card-title>Registrieren</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="start end">
        <mat-form-field [style.fontSize.px]=18 class="my-form-field" fxFlex="30%">
          <input matInput placeholder="Vorname" formControlName="firstName" required>
          <mat-error *ngIf="hasError('firstName', 'required')"> Feld darf nicht leer sein!</mat-error>
        </mat-form-field>
        <mat-form-field [style.fontSize.px]=18 class="my-form-field" fxFlex="30%">
          <input matInput placeholder="Nachname" formControlName="lastName" required>
          <mat-error *ngIf="hasError('lastName', 'required')"> Feld darf nicht leer sein!</mat-error>
        </mat-form-field>
        <mat-form-field [style.fontSize.px]=18 class="my-form-field" fxFlex="30%">
          <input matInput type="email" placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="hasError('email', 'required')"> Feld darf nicht leer sein!</mat-error>
          <mat-error *ngIf="hasError('email', 'email')"> Kein gültiges Format!</mat-error>
        </mat-form-field>
        <mat-form-field [style.fontSize.px]=18 class="my-form-field" fxFlex="30%">
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Passwort" formControlName="password"
            required>
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="hasError('password', 'required')"> Feld darf nicht leer sein!</mat-error>
        </mat-form-field>
        <mat-form-field [style.fontSize.px]=18 class="my-form-field" fxFlex="30%">
          <input matInput [matDatepicker]="picker" placeholder="Geburtsdatum" formControlName="birthdate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="hasError('birthdate', 'required')"> Feld darf nicht leer sein!</mat-error>
        </mat-form-field>
        <mat-form-field [style.fontSize.px]=18 class="my-form-field" fxFlex="30%">
          <input matInput type="tel" placeholder="Telefon" formControlName="phone" required>
          <mat-error *ngIf="hasError('phone', 'required')"> Feld darf nicht leer sein!</mat-error>
        </mat-form-field>
        <mat-form-field [style.fontSize.px]=18 class="my-form-field" fxFlex="30%">
          <input matInput placeholder="Postleitzahl" formControlName="postalCode" required>
          <mat-error *ngIf="hasError('postalCode', 'required')"> Feld darf nicht leer sein!</mat-error>
        </mat-form-field>
        <mat-form-field [style.fontSize.px]=18 class="my-form-field" fxFlex="30%">
          <input matInput placeholder="Stadt" formControlName="city" required>
          <mat-error *ngIf="hasError('city', 'required')"> Feld darf nicht leer sein!</mat-error>
        </mat-form-field>
        <mat-form-field [style.fontSize.px]=18 class="my-form-field" fxFlex="30%">
          <input matInput placeholder="Land" formControlName="country" required>
          <mat-error *ngIf="hasError('country', 'required')"> Feld darf nicht leer sein!</mat-error>
        </mat-form-field>
        <mat-form-field [style.fontSize.px]=18 class="my-form-field" fxFlex="30%">
          <textarea matInput placeholder="Referenzen" formControlName="references"></textarea>
          <mat-error *ngIf="hasError('references', 'required')"> Feld darf nicht leer sein!</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="registerForm.invalid">Registrieren</button>
    </mat-card-actions>
  </mat-card>
</form>