<mat-toolbar color="primary" [class.mat-elevation-z4]="true" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
  <mat-icon>people</mat-icon>
  <span fxFlex="100%">UX-Portal</span>
  <mat-icon *ngIf="currentUser() != null">account_circle</mat-icon>
  <span *ngIf="currentUser() != null">{{currentUser().email}}</span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="currentUser() == null" mat-menu-item (click)="routeToSignin()">
      <mat-icon>person</mat-icon>
      <span>Anmelden</span>
    </button>
    <button *ngIf="currentUser() == null" mat-menu-item (click)="routeToSignin()">
      <mat-icon>person_add</mat-icon>
      <span>Registrieren</span>
    </button>
    <button *ngIf="currentUser() != null" mat-menu-item (click)="signout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Abmelden</span>
    </button>
  </mat-menu>
</mat-toolbar>
<br>
<app-breadcrumb-nav></app-breadcrumb-nav>
<router-outlet></router-outlet>
