<mat-card>
    <mat-card-header>
      <mat-card-title>{{project.headline}}</mat-card-title>
      <mat-card-subtitle>
        {{project.category}} | {{project.client.email}}
      </mat-card-subtitle>
      <div style="margin-left: auto;">
          <mat-icon matTooltip="Anzahl Bewerber" *ngIf="candidatesStatusIcon" matBadge="{{project.candidates.length}}" matBadgeColor="primary">people</mat-icon>
          <mat-icon matTooltip="Auftrag vergeben" *ngIf="contractStatusIcon">assignment_ind</mat-icon>
          <mat-icon matTooltip="Abgeschlossen" *ngIf="completedStatusIcon">assignment_turned_in</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>{{compact ? getShortDescription(project.description) : project.description}}</p>
      <p *ngIf="!compact"><b>Lieferumfang</b><br>{{project.deliverables}}</p>
      <p><b>Zieltermin</b><br>{{project.deadline}}</p>
      <p><b>Budget</b><br>{{project.budget}}€</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button *ngIf="compact" (click)="onDetails()">DETAILS</button>
      <button mat-button *ngIf="applyApplicationButton" (click)="onApplyApplication()">BEWERBEN</button>
      <button mat-button *ngIf="withdrawApplicationButton" (click)="onWithdrawApplication()">BEWERBUNG ZURÜCKZIEHEN</button>
      <button mat-button *ngIf="clientProfileButton" (click)="onClientProfile()">KUNDENPROFIL</button>
      <button mat-button *ngIf="candidateProfilesButton" [disabled]="project.candidates.length == 0" matBadge="{{project.candidates.length}}" matBadgeColor="primary" (click)="onCandidateProfiles()">BEWERBER</button>
      <button mat-button *ngIf="completeButton" (click)="onCompletion()">ABSCHLUSS</button>
      <button mat-button *ngIf="contractorProfileButton" (click)="onContractorProfile()">KONTRAKTOR</button>
      <button mat-button *ngIf="editButton" (click)="onEdit()" >BEARBEITEN</button>
    </mat-card-actions>
  </mat-card>
