<div fxLayout="row wrap" fxLayoutAlign="start start">
  <mat-card *ngIf="currentUser() == null" class="card" fxFlex="23%">
    <mat-card-header>
      <mat-card-title>Community</mat-card-title>
      <mat-card-subtitle>Werde ein Teil der UX Community</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/crowd2.png">
    <mat-card-content>
      <p>Hier treffen spannende Aufgaben und Experten zusammen, um der zunehmenden Digitalisierung ein freundliches Gesicht zu geben.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="routeToSignin()">ANMELDEN</button>
      <button mat-button (click)="routeToRegister()">REGISTRIEREN</button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="currentUser() != null" class="card" fxFlex="23%">
    <mat-card-header>
      <mat-card-title>Willkommen zurück</mat-card-title>
      <mat-card-subtitle>{{currentUser().email}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/crowd2.png">
    <mat-card-content>
      <p>Du hast 5 neue Nachrichten</p>
      <p>Seit Deinem letzten Besuch gibt es 3 neue Projekte</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="signout()">ABMELDEN</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card" fxFlex="23%">
    <mat-card-header>
      <mat-card-title>Suche Projekte</mat-card-title>
      <mat-card-subtitle>Du suchst spannende UX Aufgaben</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/search-projects.png">    
    <mat-card-content>
      <p>Übersicht über aktuelle Aufgaben und die Möglichkeit sich als Bewerber zu registrieren.
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="routeToProjectOverview()">PROJEKTE ANSEHEN</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card" fxFlex="23%">
    <mat-card-header>
      <mat-card-title>Biete Projekte</mat-card-title>
      <mat-card-subtitle>Du hast eine Aufgabe und benötigst einen UX Experten</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/search-projects.png">
    <mat-card-content>
      <p>Beschreibe die Aufgabe inklusive der Rahmenbedingungen und mache sie für die Community sichtbar.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="routeToProjectCreate()">PROJEKT ANLEGEN</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card" fxFlex="23%">
    <mat-card-header>
      <mat-card-title>Universität</mat-card-title>
      <mat-card-subtitle>Du möchtest mehr über UX Themen erfahren oder deine Erfahrung mit anderen teilen</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/elearning.png">
    <mat-card-content>
      <span>Erfahre mehr über die UX Themen Deiner Wahl und teile eigene Beiträge mit der Community.</span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>BEITRÄGE ANSEHEN</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card" fxFlex="23%">
    <mat-card-header>
      <mat-card-title>Werkzeuge</mat-card-title>
      <mat-card-subtitle>Du möchtest die Fragebögen auswerten</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/toolbox.png">
    <mat-card-content>
      <span>Auswertung inklusive quantitative und qualitative Bewertung. Vergleich mit anderen Auswertungen.</span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>WERKZEUGE ANSEHEN</button>
    </mat-card-actions>
  </mat-card>
</div>
